* {
    margin: 0;
    padding:0;
    outline: none;
    box-sizing: border-box
}

*::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

body, html {
    width: 100%;
    height: 100%;
}

body{
        background-color: #fafafa;
        font-family: Trebuchet MS, Helvetica;
        background-color: #fff
}

/*HEADER CSS START-----------------------------------------*/
header {
    width: 100%;
    padding: 10px 0.5px 0px 0.5px;
    background: transoarent;
    float: left;
    position: fixed;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'suez One', serif;
    color: #000;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 67%;
    }
}
@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }

    #about {
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {
    color: #fff;
    margin-right: 7%;
}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: underline;
}

.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

#top {
    width: 100%;
    background-blend-mode: multiply;
    background-color: #fff;
    background-size: cover;
    text-align: center;
}

@media (min-width: 1001px) {
    #top {
        font-size: 2em;
        height: 200px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.3em;
        height: 100px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em;
        height: 100px;
    }
}

#top h1 {
    padding-top: 20%;
}
/*HEADER CSS END*--------------------------------------------/



/*INTRO CSS START-------------------------------------------*/
.intro{
    padding-top: 30px;
    font-family: 'Roboto slab', serif;
    font-weight: lighter;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
} 
.intro__title{
    text-align: center;
    font-size: 4em;
    color: #000;
    font-family: ;
}
/*INTRO CSS END-----------------------------------------------*/


main{
    padding-top: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}


/*BLOG CSS START----------------------------------------------*/
.blog{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.blog__container{
    background: #fff;
}
.blog__item:hover .blog__image{
    transform: translate3d(-5px, -5px, 0);
}
.blog__item:hover .blog__image img{
    opacity: .8;
}

.blog__image{
/*   background: rgb(69, 69, 69);*/
   transition: transform .2s linear;
}
.blog__item__info{
    padding-top: 20px;
    max-width: 360px;
}
    .item__title{
        font-size: 20px;
        font-weight: 600;
    }
    .item__category{
        padding-top: 20px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 300;
        
    }
    .item__int{
        padding-top: 20px;
        font-weight: 400;
    }
    .item__date{
        padding-top: 20px;
        font-size: 12px;
        font-weight: 300;
    }
/*BLOG CSS END-----------------------------------------------------*/

.footer-distributed {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(194, 44, 44, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 14px sans-serif;
    padding: 50px 50px;
}

.footer-distributed .footer-left p {
    color: #000;
    font-size: 19px;
    margin: 0;
}

.footer-distributed p.footer-links {
        font-size: 18px;
        font-weight: bold;
        color: #000;
        margin: 0 0 10px;
        padding: 0;
        transition: ease .25s;
    }
        .footer-distributed p.footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            transition: ease .25s;
        }
    .footer-distributed .footer-links a:before {
        content: "·";
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
    }
    .footer-distributed .footer-links .link-1:before {
        content: none;
    }
    .footer-distributed .footer-right {
        float: right;
        margin-top: 10px;
        max-width: 180px;
    }
        .footer-distributed .footer-right a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #33383b;
            border-radius: 10px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
            transition: all .25s;
        }
            .footer-distributed .footer-right a:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
    .footer-distributed p.footer-links a:hover {
        text-decoration: underline;
    }
@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}